.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}
.nav-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.nav-menu-area {
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  list-style: none;
  padding: 20px;
}
.menu li a {
  text-decoration: none;
  color: #000;
  margin-left: 80px;
}
.search-box {
  position: absolute;
  top: 138px;
  right: 20px;
  padding: 5px;
  border-bottom: 1px solid #000;
}
.search-box input {
  border: none;
}
