/* * {
  color: red;
} */

/* h1,
h2 {
  color: red;
}

p {
  color: blue;
} */

/* #header {
  width: 800px;
  background: red;
  margin: 0 auto;
  color: #fff;
}
#wrap {
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
}
#aside {
  width: 200px;
  background: blue;
  float: left;
}
#content {
  width: 600px;
  background: green;
  float: left;
} */

/* .select {
  color: red;
}

.header {
  font-size: 30px;
} */

/* input[type="text"] {
  background: red;
}

input[type="password"] {
  background: blue;
} */

/* #header > h1 {
  color: red;
} */

/* h1 + h2 {
  color: red;
}

h1 ~ h2 {
  background-color: orange;
} */

/* h1:hover {
  color: red;
}
h1:active {
  color: blue;
} */

/* input {
  background-color: #fff;
}

input:disabled {
  background-color: gray;
}

input:focus {
  background-color: orange;
} */

/* input[type="checkbox"]:checked + div {
  height: 0px;
}

div {
  height: 300px;
  overflow: hidden;
  transition-duration: 1s;
} */

/* li {
  list-style: none;
  float: left;
  padding: 15px;
  color: #fff;
}

li:nth-child(2n) {
  background-color: #ff0003;
}

li:nth-child(2n + 1) {
  background-color: #800000;
}

li:first-child {
  border-radius: 10px 0 0 10px;
}

li:last-child {
  border-radius: 0 10px 10px 0;
}

li:first-child > a {
  color: black;
} */

/* p::first-letter {
  font-size: 3em;
}
p::first-line {
  color: red;
} */

p {
  counter-increment: rint;
}

p::before {
  content: counter(rint) ".";
}

p::after {
  content: "~"attr(data-page) "page";
}

p::first-letter {
  font-size: 3em;
}
