* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border: 1px solid red;
}
header h2:first-child {
  margin-bottom: 5px;
}
header .var1 {
  display: block;
  width: 100px;
  height: 3px;
  background: royalblue;
}
header .var2 {
  display: block;
  width: 800px;
  height: 5px;
  background: #eee;
}
