* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li,
ul {
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 1024px;
  height: 100vh;
  border: 1px solid #f00;
  display: flex;
}
