body {
  /* background-image: url("/230904/BackgroundFront.png"),
    url("/230904/BackgroundBack.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #e7e7e8;
  background-attachment: fixed;
  background-position: bottom; */

  background: url("/230904/BackgroundFront.png") bottom / 100% no-repeat fixed,
    url("/230904/BackgroundBack.png") bottom / 100% no-repeat fixed #e7e7e8;
}
