body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
canvas {
  border: 1px solid #000;
}
button {
  width: 300px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #456789;
  color: #fff;
}
